{% extends 'base.html.twig' %}

{% block title %} Catégorie {{ category.name }}{% endblock %}

{% block body %}
    <h1>Toutes les séries de la catégorie {{ category.name }} : </h1>
    {% for programs in program %}
    {{programs.title}}
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
